* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: #0B1D26;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}

html {
    font-size: 50%;
}


#s1 {
    min-height: inherit;
    width: inherit;
    background-image: url(../Asset/857828.jpg);
    background-size: cover;
    background-position: center;
    z-index: 5;




}

#s1 #overlay {
    min-height: inherit;
    width: inherit;
    background-color: #000000dc;
    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black 3%, transparent 70%);
    color: white;
    padding-top: 2px;
    z-index: 2;


}

svg {
    width: 4rem;
}

#s1 #overlay nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#s1 #overlay nav #g-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

#logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

}

#logo h2 {
    font-size: 3rem;
}

#s1 #overlay nav h1 {
    font-size: 5rem;
}

#s1 #overlay nav h2 {
    font-size: 3rem;
}


#join {

    height: 200px;
    width: inherit;
    z-index: 3;
    background-color: #0B1D26;
    top: 10%;
    margin-top: -200px;


    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(360deg, black, transparent);
}

.aling {
    margin-left: auto;
    margin-right: auto;
}

#element {
    min-height: 80vh;
    width: inherit;


    width: 80vw;
    color: white;
    display: flex;
    align-items: center;
    margin-top: -15%;
    position: relative;
    z-index: 100;


}

#maintext {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#tx-big {
    display: flex;
    align-items: center;
}

#tx-big h1 {
    font-size: 25rem;
    color: rgba(255, 255, 255, 0.308);
}

#tx-big p {
    font-size: 3rem;
    color: #FBD784;
    position: relative;
    right: 115px;
}

#text,
#tx-big,
#maintext {
    width: 90%;
}

#text h1 {
    font-size: 9rem;

}

#text p {
    font-size: 3rem;
    /* width: 70%; */
}

#text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#text :nth-child(3) {
    color: #FBD784;
    transition: color 0.3s ease;
}

#text :nth-child(3):hover {

    color: bisque;
}


#photo img {
    width: 100%;
    transition: transform 0.3s ease;
}

#photo img:hover {
    transform: scale(1.1);
}

#element2 {
    min-height: 80vh;
    width: inherit;


    width: 80vw;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 6%;


}

#maintext2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 9%;


}

#text,
#tx-big,
#maintext2 {
    width: 90%;
}

#element3 {
    min-height: 80vh;
    width: inherit;


    width: 80vw;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 6%;



}

#maintext3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;




}

#text,
#tx-big,
#maintext3 {
    width: 90%;
}


#f1 {
    min-height: 80vh;
    width: inherit;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    align-items: center;
}

#r_text h1 {
    font-size: 5rem;
}

#subtx p {
    font-size: 2rem;
}

#subtx :nth-child(2) {
    color: #ffffff7e;
    margin-top: 40%;
}

#l_text {
    display: grid;
    height: 40%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.box {
    height: 30px;
    font-size: 2rem;
}

#l_text :nth-child(1) {
    color: #FBD784;
    font-size: 3rem;

}

#l_text :nth-child(2) {
    color: #FBD784;
    font-size: 3rem;

}

@media (max-width: 999px) {
    html {
        font-size: 35%;
    }

}

@media (max-width: 690px) {
    html {
        font-size: 30%;
    }

    #element3,
    #element2,
    #element {
        flex-direction: column;

    }

    #element {
        margin-top: -80%;
    }

    #s1 #overlay nav #g-text {

        gap: 20px;
    }

    #maintext2 {

        left: 1%;


    }





}

@media (max-width: 430px) {

    html {
        font-size: 20%;
    }

    #element {
        margin-top: -130%;
    }
    #f1 {
        min-height: 10vh;
       
    }
    
}